RewriteEngine On

# If the requested file or directory does not exist,
# redirect all requests to index.html (React Router)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
